//-------projects--------//


.flip-box, .item__front, .item__back {
  width: 34rem;
  height: 29rem;
  border-radius: 1rem;
}

.flip-box {
  margin: 5rem;
  perspective: 100rem;
  display: inline-block;
      &:hover .flip-box__item {
        transform: rotateY(180deg);
       }
}

.flip-box__item {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
}

.item__front, .item__back {
  position: absolute;
  backface-visibility: hidden;
  
} 

.front-img {
  border-radius: 0.5rem;

}

.item__front {
  z-index: 2;
  transform: rotateY(0deg);
  box-shadow: 10px 10px 40px #7474e5;
}

.item__back {
  @extend %flex-hor-vert-center;
  background-color: rgba(113, 110, 105, 0.6);
  transform: rotateY(180deg);
  box-shadow: 10px 10px 40px #fff;
}

.back__list {

  font-size: 2rem;
  color: #fff;
      &-item {
        padding: 0.1em;
      }
} 

//-------------end projects-------------//