@import 'base/normalize';
@import 'base/variables';
@import 'base/placeholders';
@import 'base/keyframes';
@import 'base/media.scss'; 
@import 'icons/iconfont__variables';
@import 'icons/iconfont__icons';



// Base Style

@import "base/_variables";
@import "base/placeholders";




@import url('https://fonts.googleapis.com/css?family=Sigmar+One|Source+Code+Pro');

/*
font-family: 'Source Code Pro', monospace;
font-family: 'Sigmar One', cursive;
*/


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

html {
  font-size: 62.5%;
  background-image: url(../img/fon.jpg);
  background-size: cover;
}
body {font-family: 'Source Code Pro', monospace;}

a {text-decoration: none;}

a:hover {text-decoration: none;}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
 
 .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  
      &__description {
      font-size: 2rem; 
      padding: 1rem; 
      color:  #1B4367;
    }
      &__img {
      padding-top: 15rem; 
          & .img-my-photo {
          padding:5rem;  
          border-radius: 50%;
          }
      }
 
}

.running-string {
  font-family: 'Sigmar One', cursive;
  font-size: 4rem;
  color: #1B4367;
}



.list-item{
  display: inline-block;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1em;

}

.item-link {
  color: #1B4367;
}

.bbb {
  transition: 3s all; 
  transform: translateY(100px);
  opacity: 0;
}





$bg: #0BAAD4;
$text: rgba(255,255,255,.7);
$hover: darken($bg, 10%);


@import url(https://fonts.googleapis.com/css?family=Open+Sans);




a, a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
  &:before, &:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
  }
}



//------- {{ effect-5 }} -------//

.effect-5 {
  display: inline-block;
  overflow: hidden;
  &:before, &:after {
    right: 0;
    bottom: 0;
    background: $hover;
  }
  &:before {
    width: 100%;
    height: 2px;
    transform:  translateX(-100%);
  }
  &:after {
    width: 2px;
    height: 100%;
    transform:  translateY(100%);
  }
  > span {
    display: block;
    padding: 10px;
    &:before, &:after {
      left: 0;
      top: 0;
      background: $hover;
    }
    &:before {
      width: 100%;
      height: 2px;
      transform:  translateX(100%);
    }
    &:after {
      width: 2px;
      height: 100%;
      transform:  translateY(-100%);
    }
  }
  &:hover:before, &:hover:after, &:hover > span:before, &:hover > span:after {
    transform:  translate(0, 0);
  }
}

