@media only screen and (max-width: 768px) {
  .container__description {
    font-size: 2rem;
    padding: 1em;
    text-align: justify;
  }

  .running-string {
    font-size: 4rem;
  }

  .list__item {
    display: block;
  }
  
  .flip-box {
    margin: 2rem 0;
  }


}